:root {
  --main-color: #fcc419;
  --gray: #212529;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--gray);
  /* overflow-x: hidden; */
}

.py-12 {
  padding: 12rem 0;
}

.my-12 {
  margin: 12rem 0;
}

.btn-outline-primary {
  padding: 1.6rem 3.2rem;
  border-radius: 0;
  border: 2px solid var(--gray);
  border-bottom: 4px solid var(--gray);
  color: var(--gray);
  background-color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s;
}

.btn-outline-primary:hover {
  background-color: var(--main-color);
  color: var(--gray);
  border: 2px solid var(--gray);
  border-bottom: 8px solid var(--gray);
}

.navbar {
  border-bottom: 3px solid var(--gray);
  transition: all 0.5s;
  background-color: var(--main-color);
}

.navbar:hover {
  border-bottom: 9px solid var(--gray);
}

.logo {
  width: 6.4rem;
  height: 6.4rem;
}

.hero {
  border-bottom: 3px solid var(--gray);
}

.hero__left {
  border-right: 2px solid var(--gray);
}

.hero__right {
  display: flex;
  align-items: center;
}

.hero__title {
  font-size: 6rem;
  margin-bottom: 4.8rem;
  padding-bottom: 4.8rem;
  border-bottom: 2px solid var(--gray);
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -2px;
}

.hero__description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.hero__image {
  width: 100%;
  height: auto;
  background-size: cover;
}

.skills {
}

.skills__header {
  margin-top: 7.2rem;
  margin-bottom: 6rem;
  margin-left: 6rem;
  margin-right: 6rem;

  font-size: 4.8rem;
  letter-spacing: -1.5px;
}

.skills__grid {
  margin-left: 6rem;
  margin-right: 6rem;
}

.skills__top-row {
  border-top: 2px solid var(--gray);
}

.skills__bottom-row {
  border-top: 2px solid var(--gray);
}

.skills__top-left {
  border-right: 2px solid var(--gray);
}

.skills__top-right {
}

.skills__bottom-left {
  border-right: 2px solid var(--gray);
}

.skills__bottom-right {
}

.skills__illustration {
  width: 20rem;
  height: 20rem;
  margin: 3.6rem 2.4rem;
  margin-bottom: 6.4rem;
}

.skills__title {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  letter-spacing: -1px;
}

.skills__description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.projects {

}

.projects__image {
}

.projects__link {
}

.projects__image img {
  background-size: cover;
  width: 100%;
  height: auto;
  filter: grayscale(1);
  transition: all 0.4s;
}
.projects__image img:hover {
  filter: grayscale(0);
}

.projects__image:hover > .projects__label {
  visibility: visible;
  transform: scale(1);
}

.projects__label {
  bottom: 2rem;
  display: inline-block;
  left: 4rem;
  z-index: 1;
  visibility: hidden;
  background-color: var(--main-color);
  padding: 1.2rem 2.4rem;
  transition: all 0.4s;
  transform: scale(0.4);
  font-size: 1.8rem;
  font-weight: 500;
}